############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


#############
## Delphi
#############
*.pas.~*
*.dcu
*.dproj
*.dproj.*
*.res
*.exe
*.skincfg
*.local
*.dpr.~*
*.identcache